@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:sans-serif;
}
:root {
    --white: #fff;
    --black: #141414;
    --yellow: #fa9e01;
    --orange: #e34a00;
    --gray: #ccc;
}
body {
    font-family: 'Roboto';
    background-color: var(--black);
    margin: 0;
}
.header{
    max-width: 1140px;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.header .logo img {
    width: 150px;
    height: 100px;
}
.header .log {
    padding-left: 20px;
    width: 100%;
}
.header .icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .icon div {
    margin: 5px;
    width: 50px;
    height: 7px;
    background-color: var(--orange);
}
.header .icon .icon-color{
    background-color: var(--yellow);
}
.navigation ul, li, a{
    display: flex;
    height: 100px;
}
.navigation ul a {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid var(--black);
}
.navigation ul a:hover{
    border-bottom: 5px solid var(--white);
    color: var(--gray);
}
section {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    height: calc(100vh - 100px);
    scroll-margin-top: 100px;
    overflow: hidden;
}
section .banner {
    width: 100%;
    height: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
}
section .img img {
    max-width: 600px;
    height: auto;
}
section .information h1 {
    color: var(--yellow);
    font-size: 80px;
    padding-bottom: 30px;
    padding-top: 30px;  
}
section .information p {
    color: var(--white);
    font-size: 20px;
    line-height: 30px;
}
section .banner .button {
    width: 200px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
section .information button {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   background-color: var(--orange);
   color: var(--white);
  border: 1px solid var(--white);
}
section .information button:hover {
    transform: scale(1.05);
    background-color: var(--gray);
    color: var(--black);
    cursor: pointer;
}
.trighs {
    color: var(--gray);
    padding: 20px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #141414;
}


@media ( max-width:1125px) {
    section .information h1 {
        font-size: 70px; 
    }
    section .img img {
        max-width: 500px;
       height: auto;
    }
}
@media ( max-width:875px) {
    section .information h1 {
        font-size: 70px; 
    }
    section .img img {
        max-width: 400px;
    }
}
@media ( max-width:875px) {
    section .information h1 {
        font-size: 50px; 
    }
    section .img img {
        max-width: 400px;
    }
}
@media ( max-width:670px) {
        .navigation {
        display:none;
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        top: 100px;
        left: 0;
    }
    .navigation.active {
        display: flex;
    }
    .header .icon{
        display: flex;
    }
    .navigation ul {
        flex-direction: column;
        background-color: var(--orange);
        width: 100%;
        height: auto;
        align-items: center;
    }
    .navigation ul a,
    .navigation ul a:hover{
        border-bottom: none;
        color: var(--white);
    }
    section .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    section .information h1 {
        font-size: 40px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    section .information p {
        width: 100%;
        text-align: center;
    }
    section .img,
    section .img img{
        max-width: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section .banner {
        flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
    }
    section .banner .button {
        margin-top: 30px;
        margin-bottom: 100px;
    }
    footer, .trighs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }  
}
@media ( max-width:425px) {
    section .img img{
        max-width: 250px;
        width: 100%;
    }

    section .information p {
        font-size: 16px;
    }
}
@media ( max-width:300px) {
    section, .banner {
        height: auto;
    }
    section .banner .button{
        width: 100%;
    }
}

